<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
        </Console>
    </Appenders>
    <Loggers>
        
        <Logger name="org.springframework" level="ERROR" additivity="false" />
        <Logger name="egovframework" level="ERROR" additivity="false" />
        <Logger name="log4jdbc.log4js" level="ERROR" additivity="false" />
        <Logger name="log4jdbc.debug" level="DEBUG" additivity="false" />
        
        <Logger name="jdbc.sqltiming" level="OFF" />
        <Logger name="org.mybatis" level="OFF" />
        <Logger name="java.sql" level="OFF" />
        <Logger name="org.apache" level="OFF" />
        <Logger name="jdbc.sqlonly" level="OFF" />
		<Logger name="jdbc.audit" level="OFF" />
		<Logger name="jdbc.resultset" level="OFF" />
		<Logger name="jdbc.resultsettable" level="OFF" />
		<Logger name="jdbc.connection" level="OFF" />
		
		<!-- Exclude data upload logs -->        
		<Logger name="softGis.core.CoreDAO.insertTextData" level="ERROR" />
		<Logger name="softGis.core.CoreDAO.insertColctData" level="ERROR" />
		<Logger name="softGis.core.CoreDAO.insertGeoJsonData" level="ERROR" />
	   
        <Root level="DEBUG" additivity="false">
            <AppenderRef ref="console" />
        </Root>
    </Loggers>
	
</Configuration>