.badge {
	display: inline-block;
	border: 1px solid #000;
	border-radius: 2em;
	padding: em(1px, 13px) em(10px, 13px);
	font-size: rem(13px);
	text-align: center;
	
	@each $name, $color in map-merge($ui-light, $ui-dark) {
		&-#{$name}, &-#{$name}-border {
			border-color: $color;
			color: $color;
		}

		&-#{$name}-filled {
			border: 0;
			background: rgba($color, .1);
			color: $color;
		}
	}
}